<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Employee</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">

    <h3>Add New Car</h3>
    <hr/>

    <form th:action="@{/saveCar}" th:object="${car}" method="POST">

        <input type="text" th:field="*{mark}" class="form-control col-4 mb-4" placeholder="Enter mark" />

        <input type="text" th:field="*{model}" class="form-control col-4 mb-4" placeholder="Enter model" />

        <input type="text" th:field="*{color}" class="form-control col-4 mb-4" placeholder="Enter color" />

        <button type="submit" class="btn btn-primary col-2">Save</button>
        <input type="hidden" th:field="*{id}" />

    </form>
    <hr/>
    <a th:href="@{/list}">Back to list</a>
</div>

</body>
</html>